* { margin: 0; padding: 0; font-family: NanumGothic, 나눔고딕, "Malgun Gothic", "맑은 고딕", sans-serif !important; font-size: 13px; }
ul, ol { padding-left: 22px; }
.width80px { width: 80px; }
.tr { text-align: right; }
.tc { text-align: center; }
.fr { float: right; }

#Login { position: fixed; right: 10px; top: 10px; text-align: right; }
#Footer { position: fixed; bottom:0; left: 180px; width: 100%; text-align: center; padding: 40px 0 40px; }

#Join .modal-body > div { height: 250px; overflow: auto; margin-top: 20px; border: 1px solid #ddd; text-align: left; width: 100%; background: white; margin-left: 10px; }
#Join .modal-body > div > p:first-child { margin-top: 0; }
#Join .modal-body > div > p { margin-top: 15px; }
#Join .modal-body > div span { color: #ccc; }
#Join .modal-body table { width: 450px; margin: 40px 0 0 50px; }
#Join .modal-body table td , #Join table th { padding: 5px; text-align: left; }
#Join .modal-body table td > span.red { color: red; }
#Join .modal-body table td > span.blue { color: blue; }

#wrapper { padding-left: 180px; transition: all 0.4s ease 0s; }
#sidebar-wrapper { margin-left: -180px; left: 180px; width: 180px; background: #000; position: fixed; height: 100%; overflow-y: auto; z-index: 1000; transition: all 0.4s ease 0s; }
#page-content-wrapper { width: 100%; position: relative; }
.sidebar-nav { position: absolute; top: 0; width: 180px; list-style: none; margin: 0; padding: 0; }
.sidebar-nav li { line-height: 40px; text-indent: 20px; }
.sidebar-nav li a { color: #999999; display: block; text-decoration: none; }
.sidebar-nav li a:hover { color: #fff; background: rgba(255,255,255,0.2); text-decoration: none; }
.sidebar-nav li a:active, .sidebar-nav li a:focus { text-decoration: none; }
.sidebar-nav > .sidebar-brand { height: 65px; line-height: 60px; }
.sidebar-nav > .sidebar-brand a { color: #999999; font-size: 24px !important; }
.sidebar-nav > .sidebar-brand a:hover { color: #fff; background: none; }
.content-header { height: 65px; line-height: 65px; }
.content-header h1, .content-header h3 { margin: 0; margin-left: 20px; line-height: 65px; display: inline-block; }
#menu-toggle { display: none; }
.inset { padding: 20px; }